footer {
    width: 100%;
     /* box-shadow: 0 -5px 5px 0px var(--secondary); */
    padding:1rem 2rem;
    border-top: 2px solid var(--accent-Color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    /* background-color: var(--primary); */
    color: var(--accent-Color1);

    
    
}
footer > a{
    text-decoration: none;
    color: unset;
    transition: .5s;
    /* color: transparent;
    background: linear-gradient(30deg, var(--accent-Color), var(--bg));
  background-clip: text;
  -webkit-background-clip: text; */
    
}
/* footer > a:hover{
    text-decoration: none;
} */

footer>.footer__links>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>.footer__links>ul>li>a {
    /* text-decoration: none; */
    margin: 0 1rem;
    color: unset;
    transition: .5s;
    /* color: transparent;
    background: linear-gradient(30deg, var(--accent-Color), var(--bg));
  background-clip: text;
  -webkit-background-clip: text; */
}
footer > a:hover, 
footer>.footer__links>ul>li>a:hover {
    color: var(--accent-Color);
    text-decoration: underline;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer>.footer__links>ul {
       margin-top: 1rem;
    }  
}