footer {
    width: 100%;
     /* box-shadow: 0 -5px 5px 0px var(--secondary); */
    padding:1rem 2rem;
    border-top: 2px solid var(--accent-Color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-Color1);

    
    
}
footer > a{
    text-decoration: none;
    color: unset;
    transition: .5s;
    
}

footer>.footer__links>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>.footer__links>ul>li>a {
    margin: 0 1rem;
    color: unset;
    transition: .5s;
}
footer > a:hover, 
footer>.footer__links>ul>li>a:hover {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 500;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer>.footer__links>ul {
       margin-top: 1rem;
    }  
}