footer {
    width: 100%;
     box-shadow: 0 0 5px 0px var(--accent-Color);
    padding:1rem 2rem;
    margin-top: 4rem;
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
footer > a{
    text-decoration: none;
    color: unset;
    transition: .5s;
}
/* footer > a:hover{
    text-decoration: none;
} */

footer>.footer__links>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>.footer__links>ul>li>a {
    /* text-decoration: none; */
    margin: 0 1rem;
    color: unset;
    transition: .5s;
}
footer > a:hover, 
footer>.footer__links>ul>li>a:hover {
    color: var(--accent-Color);
    text-decoration: underline;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer>.footer__links>ul {
       margin-top: 1rem;
    }  
}