main {
    width: 100%;
    margin: 0 auto;
   /* background: var(--bg); */
    
}


/* main > div{
   background: var(--bg); 
} */
.section__1 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr .3fr;
    padding: 2rem;
    background: transparent;
    margin-top: 10vh;
    position: relative;
    color: #ffffff;
}

.section__1>.img {
    margin-right: 10%;
    grid-area: 1/2;
    width: 25vw;
    margin-top: 30%;
    height: 25vw;
    background: url(../assets/myPic.jpg);
    background-size: cover;
    border-radius: 50%;
}

.content {
    grid-area: 1/1;
    width: 100%;
    margin-top: 8vw;
    padding: 0;
    font-family: "Oswald", sans-serif;
    text-wrap: wrap;

}

.content> p {
    font-weight: 600;
    font-size: 2rem;
    margin: 3vw 0;
    font-weight: 500;
    color: var(--secondary);
    
}

.content>h1 {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 6vw;
    /* color: #dbff92; */
    /* color: #EF4444; */
    color: var(--primary);
    transition: all .5s;
}
.content>h1::before{
    content: '';
    position: absolute;
    width: 0;
    right: 0;
    height: 100%;
    background: var(--bg);
    z-index: 2;
    opacity: 1;
    animation: animateName 3s 1;
    animation-delay: .5s;
}   
@keyframes animateName{
    0% {
        width: 80%;
    }
    80%{
        opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
    }
}
.content>h1>span {
    color: var(--text-secondary);

}

.content>h2 {
    /* color: rgb(146, 164, 255); */
    font-weight: 700;
    font-size: 2.5vw;
    color: transparent;
    background: linear-gradient(180deg, var(--primary), var(--secondary));
    background-clip: text; 
}

.content a>  button{
    padding: 0.5rem 1rem;
    margin: 1.5rem auto;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 0 3px 0 var(--shadow);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
    animation: animateButton 5s infinite forwards ease-in-out;
    animation-delay: 10s;
    
}

.content> a> button:hover{
    box-shadow: 0 0 8px 0 var(--shadow);
    background: var(--secondary);
    
    padding: 0.5rem 1rem;
    animation-iteration-count: 1;
}

@keyframes animateButton{
    0%{
        transform: scale(1);
        background-color: var(--primary);
        box-shadow: 0 0 3px 0 var(--shadow);
        
        padding: 0.5rem 1rem;
    }
    30%{
        transform: scale(1.01);
        background-color: var(--secondary);
        box-shadow: 0 0 8px 0 var(--shadow);
       
        padding: 0.5rem 1rem;
    }
    60%{
        transform: scale(1.01);
        background-color: var(--secondary);
        box-shadow: 0 0 8px 0 var(--shadow);
       
        padding: 0.5rem 1.5rem;
    }
    100%{
        transform: scale(1);
        background-color: var(--primary);
        box-shadow: 0 0 3px 0 var(--shadow);
        padding: 0.5rem 1rem;
    }
   
}

.content>p:last-child {
    font-weight: 300;
    font-size: smaller;
    color: var(--text);
}


/* Break line */
.break__line {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 5vw;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.615); */
    background-color: var(--primary);
    
}

/* Section 2: */
.skill__section > h2 {
    margin: 3rem 0;
    font-style: normal;
}
.skill__section {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill__section>.img__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.skill__section>.img__content>div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    
    box-shadow: 0 0 5px 0px var(--shadow);
    
    height: 4rem;
    width: 16rem;
    margin: 1rem 1rem;
    padding: 2rem;
    transition: all .3s;
    border: 1px solid #ffffff;
}

.skill__section>.img__content>div:hover{
    border-radius: 0  10%;
    box-shadow: 0 0 5px 0 var(--primary);
    transform: translateY(-5px);
    
    
}
.skill__section>.img__content img {
    height: 40px;
    border-radius: 2pt;
}

.skill__section>.img__content p {
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 300;
    /* font-size: small; */
    color: var(--text-secondary);
}




/* Secction 3: */

.education__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   

}

.education__section>h2 {
     margin: 3rem 0;
    font-style: normal;
}

.education__section>.education__content {
    width: 100%;
    margin: 1rem;
}

.education__content>.degree {
    width: 90%;
     display: block;

    background: var(--bg);
    box-shadow: 0 0 10px -3px var(--shadow);
    border-radius: 35px;
    padding: 2vw 4vw;
    margin: 2.5rem auto;
    transition: all .6s;
    border: 1.5px solid white;

}
.education__content>.degree:hover {
    border-radius: 20px;
    transform: translateY(-5px);
    box-shadow: 0 0 10px -3px var(--primary);
}

.degree>h3 {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(30deg, var(--primary),var(--secondary));
    background-clip: text;
    margin: 0;
}

.degree>.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #45b2ff;
    color: var(--text-secondary);
    
}

.details>h4 {
    /* font-family: "Bodoni Moda", serif; */
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
    margin: 0;

}

.details>p {
    font-family: "Racing Sans One", serif;
    font-size: 2vw;
    font-weight: 800;
    padding: 0 1rem;
    margin: 0;
    margin-right: 5vw;
}

.degree>ul {
    padding: 0;
    margin: 1rem 10rem;
}

.degree>ul>li {
    font-size: 1.5vw;
    /* font-weight: 300; */
    color: var(--text-secondary);
}

/* mdeia Quries */

@media screen and (max-width: 768px) {
    .section__1 {
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }

    .section__1>.img {
        
        grid-area: 1;
        margin: 0 auto;
        width: 55vw;
        height: 55vw;
    }
    .section__1>.content{
        grid-area: 2;
        margin: 0 auto;
        padding: 0 1rem;
    }

/* .skill__section>.img__content>div {
    margin: 5vw .5rem;
    height: 10rem;
    width: 8rem;
} */

.education__content>.degree{
    width: 95%;
    padding: 2vw;
}
.degree>h3{
    font-size: 1.2rem;
    text-align: center;
}

.degree>.details{
    flex-direction: column;
    justify-content: center;
}
.degree>ul{
    margin: 1rem auto;
    text-align: center;
    width: fit-content;
    letter-spacing: 1px;
    font-weight: 400;
    
} 

.degree>ul>li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
}