main {
    width: 100%;
    margin: 0 auto;
}

.section__1 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr .3fr;
    padding: 2rem;
    
    margin-top: 10vh;
    position: relative;
}

.section__1>.img {
    margin-right: 10%;
    grid-area: 1/2;
    width: 25vw;
    margin-top: 30%;
    height: 25vw;
    background: url(../assets/myPic.jpg);
    background-size: cover;
    border-radius: 50%;
}

.content {
    grid-area: 1/1;
    width: 100%;
    margin-top: 8vw;
    padding: 0;
    font-family: "Oswald", sans-serif;
    text-wrap: wrap;

}

.content>h3 {
    font-weight: 600;
    font-size: 3vw;
    margin: 3vw 0;
    font-weight: 500;
    color: var(--text-secondary);
    
}

.content>h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 6vw;
    /* color: #dbff92; */
    /* color: #EF4444; */
    color: var(--primary);
}

.content>h1>span {
    color: var(--text-secondary);

}

.content>h2 {
    /* color: rgb(146, 164, 255); */
    font-weight: 700;
    font-size: 2.5vw;
    color: transparent;
    background: linear-gradient(180deg, var(--primary), var(--secondary));
    background-clip: text; 
}

.content>p {
    font-weight: 200;
    font-size: smaller;
}


/* Break line */
.break__line {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 5vw;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.615); */
    background-color: var(--primary);
    
}




/* Section 2: */
.skill__section > h2 {
    margin: 3rem 0;
    font-style: normal;
}
.skill__section {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skill__section>.img__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.skill__section>.img__content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    /* background: #000;
    height: 10rem;
    width: 8rem; */
    box-shadow: 0 0 10px 0 var(--shadow);
    border-radius: 15px;
    height: 10rem;
    width: 12rem;
    margin: 1.5rem 1.5rem;
    padding: 2rem;
    transition: all .3s;
    border: 1px solid white;
}

.skill__section>.img__content>div:hover{
    background: var(--hover);
    box-shadow: 0 0 10px 0 var(--primary);
    
    
}
.skill__section>.img__content img {
    width: 60px;
    border-radius: 2pt;
}

.skill__section>.img__content p {
    margin-top: .5rem;
    font-size: 10px;
    font-weight: 300;
    font-size: small;
    color: var(--text-secondary);
}




/* Secction 3: */

.education__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.education__section>h2 {
     margin: 3rem 0;
    font-style: normal;
}

.education__section>.education__content {
    width: 100%;
    margin: 1rem;
}

.education__content>.degree {
    width: 90%;
    box-shadow: 0 0 10px -3px var(--shadow);
    border-radius: 5px;
    padding: 2vw 4vw;
    margin: 1.5rem auto;
    transition: all .6s;
    border: 1.5px solid white;
}
.education__content>.degree:hover {
    background: var(--hover);
    box-shadow: 0 0 10px -3px var(--primary);
}

.degree>h3 {
    font-size: 2rem;
    /* font-family: "Oswald", serif; */
    /* color: #c1ff72; */
    /* color: #9dcd5d; */
    color: transparent;
    background: linear-gradient(30deg, var(--primary),var(--secondary));
    background-clip: text;
    margin: 0;
}

.degree>.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #45b2ff;
    color: var(--text-secondary);
    
}

.details>h4 {
    /* font-family: "Bodoni Moda", serif; */
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
    margin: 0;

}

.details>p {
    font-family: "Racing Sans One", serif;
    font-size: 2vw;
    font-weight: 800;
    padding: 0 1rem;
    margin: 0;
    margin-right: 5vw;
}

.degree>ul {
    padding: 0;
    margin: 1rem 10rem;
}

.degree>ul>li {
    font-size: 1.5vw;
    /* font-weight: 300; */
    color: var(--text-secondary);
}

/* mdeia Quries */

@media screen and (max-width: 768px) {
    .section__1 {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        margin-top: 0;
    }

    .section__1>.img {
        
        grid-area: 1;
        margin: 0 auto;
        width: 55vw;
        height: 55vw;
    }
    .section__1>.content{
        grid-area: 2;
        margin: 0 auto;
        padding: 0 1rem;
    }

.skill__section>.img__content>div {
    margin: 5vw .5rem;
    height: 10rem;
    width: 8rem;
}

.education__content>.degree{
    width: 95%;
    padding: 2vw;
}
.degree>h3{
    font-size: 1.2rem;
    text-align: center;
}

.degree>.details{
    flex-direction: column;
    justify-content: center;
}
.degree>ul{
    margin: 1rem auto;
    text-align: center;
    width: fit-content;
    letter-spacing: 1px;
    font-weight: 400;
    
} 

}