main {
    width: 100%;
    margin: 0 auto;
   /* background: var(--bg); */
    
}

.section__1 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr .3fr;
    padding: 2rem;
    background: transparent;
    margin-top: 10vh;
    position: relative;
}

.section__1>.img {
    margin-right: 10%;
    grid-area: 1/2;
    width: 25vw;
    margin-top: 30%;
    height: 25vw;
    background: url(../assets/myPic.jpeg);
    background-size: cover;
    border-radius: 50%;
}

.content {
    grid-area: 1/1;
    width: 100%;
    margin-top: 8vw;
    padding: 0;
    font-family: "Oswald", sans-serif;
    text-wrap: wrap;

}

.content> p {
    font-weight: 600;
    font-size: 2rem;
    margin: 2vw 0;
    font-weight: 500;
    color: var(--secondary);
    
}

.content>h1 {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: var(--accent-Color);
    transition: all .5s;
}
.content>h1::before{
    content: '';
    position: absolute;
    width: 0;
    right: 0;
    height: 100%;
    background: var(--bg);
    z-index: 2;
    opacity: 1;
    animation: animateName 2s 1;
    animation-delay: .5s;
}   
@keyframes animateName{
    0% {
        width: 80%;
    }
    80%{
        opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
    }
}
.content>h1>span {
    color: var(--secondary);

}

.content>h2 {
    /* color: rgb(146, 164, 255); */
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 3vw;
    color: var(--secondary);
    letter-spacing: 1px;
    word-spacing: 16px;
    /* background: linear-gradient(180deg, var(--text), var(--secondary));
    background-clip: text;  */
}

.content a>  button{
    padding: 0.5rem 1rem;
    margin: 1.5rem auto;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    background: var(--accent-Color);
    color: var(--bg);
    box-shadow: 0 0 3px 0 var(--secondary);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
    animation: animateButton 6s infinite forwards ease;
    animation-delay: 10s;
    
}

.content> a> button:hover{
    background: var(--primary);
    color: var(--secondary);
    padding: 0.5rem 1.2rem;
    animation-iteration-count: 1;
}

@keyframes animateButton{
    0%{
        transform: scale(1);
        background-color: var(--accent-Color);
    }
    30%{
        transform: scale(1.01);
        background-color: var(--primary);
        color: var(--secondary);
    }
    60%{
        transform: scale(1.01);
        background-color: var(--primary);
        padding: .5rem 1.2rem;
       color: var(--bg);
    }
    100%{
        transform: scale(1);
        background-color: var(--accent-Color);
        /* box-shadow: 0 0 3px 0 var(--shadow); */
        padding: 0.5rem 1rem;
    }
   
}

.content>p:last-child {
    font-weight: 300;
    font-size: medium;
    color: var(--text-secondary);
}


/* Break line */
.break__line {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 5vw;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.615); */
    background-color: var(--text);
    
}

/* Section 2: */
.skill__section > h2 {
    margin: 3rem 0;
    font-style: normal;
}
.skill__section {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill__section>.img__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.skill__section>.img__content>div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center; 
    /* box-shadow: 0 0 3px 0px var(--secondary); */
    height: 4rem;
    width: 16rem;
    margin: 1rem 1rem;
    padding: 2rem;
    transition: all .3s;
    border: 1px solid var(--secondary);
}

.skill__section>.img__content>div:hover{
    border-radius: 0  20%;
    border-color: var(--accent-Color);
    /* box-shadow: 0 0 3px 0 var(--accent-Color); */
}

.skill__section>.img__content img {
    height: 40px;
    border-radius: 2pt;
}

.skill__section>.img__content p {
    margin-top: .5rem;
    font-size: normal;
    font-weight: 400;
    /* font-size: small; */
    color: var(--text-secondary);
}




/* Secction 3: */

.education__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   

}

.education__section>h2 {
     margin: 3rem 0;
    font-style: normal;
}

.education__section>.education__content {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.education__content>.degree {
    width: 31%;
     display: flex;
     flex-direction: column;
     align-items: center;

    background: var(--bg);
    box-shadow: 0 0 8px -3px var(--accent-Color);
    border-radius: 30px;
    padding: 2vw 4vw;
    margin: 2.5rem auto;
    transition: all .6s;
    border: 1px solid var(--bg);

}
.education__content>.degree:hover {
    border-radius: 45px;
    border-color: var(--accent-Color);
    /* transform: translateY(-5px); */
    box-shadow: 0 0 3px 0px var(--secondary);
}

.degree>h3 {
    font-size: 2rem;
    text-align: center;
    color: transparent;
    background: linear-gradient(30deg, var(--accent-Color),var(--secondary));
    background-clip: text;
    margin: 0 auto;
}

.degree>.details {
    
    padding: 0;
    color: var(--text-secondary);
    
}

.details>h4 {
    /* font-family: "Bodoni Moda", serif; */
    font-size: normal;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;

}

.details>p {
    font-family: "Racing Sans One", serif;
    font-size: normal;
    font-weight: 600;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
    margin-right: 0 auto;
}

.degree>ul {
    padding: 1.5rem 0;
    /* margin: 1rem 1rem; */
    margin: auto;
}

.degree>ul>li {
    font-size: normal;
    /* font-weight: 300; */
    color: var(--text-secondary);
}

/* mdeia Quries */

@media screen and (max-width: 768px) {
    .section__1 {
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }

    .section__1>.img {
        
        grid-area: 1;
        margin: 0 auto;
        width: 55vw;
        height: 55vw;
    }
    .section__1>.content{
        grid-area: 2;
        margin: 0 auto;
        padding: 0 1rem;
    }

/* .skill__section>.img__content>div {
    margin: 5vw .5rem;
    height: 10rem;
    width: 8rem;
} */

.education__content>.degree{
    width: 80%;
    padding: 10vw 2vw;
    margin: .5rem auto;
    border-color: var(--accent-Color);
    box-shadow: var(--secondary);
}
.degree>h3{
    font-size: 1.5rem;
    text-align: center;
}



}