@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

:root {
  /* scheme 1 */
  --bg: #fef9f9;
  --primary: #7c3aed;
  --secondary: #f472b6;
  --text: #1f2937;
  --text-secondary: #6b7280;
  --shadow: #0a1f3b5e;
  --hover2: #22282f;
  /* --hover: rgb(50, 65, 82); */


  /* --bg: rgb(0, 0, 0);
  --primary: #151f7e;
  --secondary: #3ba7d9;
  --text: #ffffff;
  --text-secondary: #b3b3b3;
  --shadow: #358bad;
  --hover: rgb(34, 55, 76);
  --hover2: rgb(56, 56, 150); */
  /* scheme 2 */
  /* --bg: #000000;
  --primary: #00ffcc;
  --secondary: #ff0066;
  --text: #ffffff;
  --text-secondary: #b3b3b3;
  --shadow: #358bad;
  --hover2: rgb(56, 56, 150); */


  /* scheme 3 */
  /* --bg: #0f172a;
  --primary: #38bdf8;
  --secondary: #facc15;
  --text: #f8fafc;
  --text-secondary: #94a3b8;
  --shadow: #358bad;
  --hover: rgb(34, 55, 76); */


  /* scheme 4 */
  /* --bg: #ffffff ;
  --primary: #2563eb ;
  --secondary: #10b981 ;
  --text: #111827;
  --text-secondary: #6b7280;
  --shadow: #154051be;
  --hover: rgb(56, 150, 103); */


  color: var(--text);
  /* background: #1C1C22; */
  background: var(--bg);
  font-family: "Oswald", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(23, 88, 132, 0.161); */
}


.fixedbg{
    width: 100%;
    height: 100vh;
    background: url(../assets/bg3.jpg);
    background-size: cover;
    background-position: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    filter: opacity(0.2) contrast(1.5);
    filter:  invert() grayscale(.5) opacity(0.6);
  animation: colorChange 10s infinite alternate ease-in-out;
}

@keyframes colorChange {
  0% {
    filter:invert() opacity(0.1)   hue-rotate(0deg) grayscale(0.5);
  }
  25% {
    filter:invert() opacity(0.6) hue-rotate(90deg) grayscale(0.3);
  }
  50% {
    filter:invert() opacity(0.7)  hue-rotate(180deg) grayscale(.1);
  }
  75% {
    filter: invert() opacity(0.2) hue-rotate(270deg) grayscale(0.2);
  }
  100% {
    filter:invert() opacity(0.1) hue-rotate(360deg) grayscale(0.5);
  }
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background:var(--secondary);
  
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
  background:var(--hover);
  
  border-radius: 10px;
}
