@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

:root {
  /* scheme 1 */
  /* --bg: #fef9f9;
  --primary: #7c3aed;
  --secondary: #f472b6;
  
  --text: #1f2937;
  --text-secondary: #6b7280;
  --shadow: #1f406b70;
  --hover2: #22282f; */
  /* --hover: rgb(50, 65, 82); */



--bg: #fbfafa;
--primary: #101231;
--secondary: #105231;
--text: black;
--text-secondary: #24252b;
--accent-Color: #793ae6;


/* Dark theme */
/* --bg: #0b0c1a;
--primary: #d4d6ff;
--secondary: #3be48f;
--text: #f4f4f4;
--text-secondary: #b5b5c8;
--accent-Color: #a875ff; */


/* --bg: #0a0f0d;
--primary: #9adbb3;
--secondary: #2e8a57;
--text: #e8e8e8;
--text-secondary: #b0b0b0;
--accent-Color: #9c6bff; */

/* --bg: #101231;
--primary: #ffffff;
--secondary: #00c980;
--text: #f0f0f0;
--text-secondary: #b0b0b0;
--accent-Color: #bb86fc; */




  color: var(--text);
  /* background: #1C1C22; */
  background: var(--bg);
  font-family: "Oswald", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}


[data-theme="dark"] {
 --bg: #0a0f0d;
--primary: #9adbb3;
--secondary: #2e8a57;
--text: #e8e8e8;
--text-secondary: #b0b0b0;
--accent-Color: #9c6bff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(23, 88, 132, 0.161); */
}

/* image is removed : hhhhhh*/
.fihhhhhxedbg{ 
    width: 100%;
    height: 100vh;
    background: url(../assets/bg3.jpg);
    background-size: cover;
    background-position: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    filter: opacity(0.2) contrast(1.5);
    filter:  invert() grayscale(.5) opacity(0.6);
  animation: colorChange 10s infinite alternate ease-in-out;
}

@keyframes colorChange {
  0% {
    filter:invert() opacity(0.1)  hue-rotate(0deg) grayscale(0.5);
  }
  25% {
    filter:invert() opacity(0.6) hue-rotate(90deg) grayscale(0.3);
  }
  50% {
    filter:invert() opacity(0.7)  hue-rotate(180deg) grayscale(.1);
  }
  75% {
    filter: invert() opacity(0.2) hue-rotate(270deg) grayscale(0.2);
  }
  100% {
    filter:invert() opacity(0.1) hue-rotate(360deg) grayscale(0.5);
  }
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background:var(--secondary);
  
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
  background:var(--hover);
  
  border-radius: 10px;
}
