nav {
  position: fixed;
  width: 60%;
  top: 0;
  left: 20%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
  transition: all 0.5s;
  border-radius: 40px;
  border: 1px solid var(--shadow);
}

/* .logo > a {
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5vw;
  text-decoration: none;
  background: linear-gradient(30deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s;
}

.logo > a:hover {
  color: var(--primary);
  font-weight: 900;
} */

.nav__links {
  width: 90%;
  /* margin-left: auto; */
}

.nav__links > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links > ul > li > .nav-link {
  margin: 1rem 2vw;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5vw;
  position: relative;
  color: transparent;
  background: linear-gradient(30deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s;
  padding: 0 0.3vw;
}

.nav__links > ul > li > .nav-link:hover,
.nav__links > ul > li > .nav-link.active {
  color: var(--primary);
  padding: 0 0.5vw;
}

/* Underline effect */
.nav__links > ul > li > .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  background-color: var(--primary);
  border-radius: 5pt;
  transition: width 0.5s;
}

.nav__links > ul > li > .nav-link:hover::before,
.nav__links > ul > li > .nav-link.active::before {
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  nav {
    /* display: block; */
    width: 100%;
    /* position: relative; */
    left: 0;
    border: none;
    box-shadow: none;
    /* border-radius: none;     */
  }

  /* .logo > a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 10vw;
  } */

  .nav__links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* border-radius: 25px; */
    /* border: 1px solid var(--shadow); */
    /* box-shadow: 0 0 5px -2px var(--shadow); */
  }

  .nav__links > ul > li > .nav-link {
    font-size: 3vw;
    margin: 0 4vw;
  }
}
