nav {
  position: fixed;
  width: 60%;
  top: 0;
  left: 20%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: transparent;
  z-index: 100;
  transition: all 0.5s;
  border-radius: 40px;
  border: 1px solid var(--accent-Color);
}

/* .logo > a {
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5vw;
  text-decoration: none;
  background: linear-gradient(30deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s;
}

.logo > a:hover {
  color: var(--primary);
  font-weight: 900;
} */

.nav__links {
  width: 100%;
  /* margin-left: auto; */
}

.nav__links > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links > ul > li > .nav-link {
  margin: 1rem 2vw;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5vw;
  position: relative;
  color: transparent;
  background: linear-gradient(30deg, var(--accent-Color), var(--bg));
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s;
  padding: 0 0.3vw;
}

.nav__links > ul > li > .nav-link:hover,
.nav__links > ul > li > .nav-link.active {
  color: var(--accent-Color);
  padding: 0 0.5vw;
}

/* Underline effect */
.nav__links > ul > li > .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  background-color: var(--accent-Color);
  border-radius: 5pt;
  transition: width 0.5s;
}

.nav__links > ul > li > .nav-link:hover::before,
.nav__links > ul > li > .nav-link.active::before {
  width: 100%;
}

.nav__links li > button {
  background: var(--secondary);
  color: var(--bg);
  font-weight: 600;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.nav__links li >button:hover {
  background: var(--accent-Color);
}


/* Media Queries */
@media (max-width: 768px) {
  nav {
    width: 100%;
    left: 0;
    border: none;
    box-shadow: none;
  }


  .nav__links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .nav__links > ul > li > .nav-link {
    font-size: 3vw;
    margin: 0 4vw;
  }
}
