.project__section {
    min-height: 100vh;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 20vh;
    
}

.project__section>h2 {
    font-style: normal;
    text-align: center;
    margin-bottom: 2.5rem;
}

.project__section>.Porject__Card {
    display: flex;
    justify-content: space-around;
}
.Porject__Card > h3{
    font-size: 3rem;
    /* font-family: sans-ser; */
    font-weight: 700;
    padding: 2rem 0;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-secondary);
    top: 0;
}
.Porject__Card > a{
 /* border: 1px solid rgb(0, 179, 255); */
    width: 85%;
    margin: 1rem;
    border-radius:  0 40px 5% 40px;
    padding:  2rem;
    background-color: var(--bg);
    box-shadow: 0 0 10px -5px var(--secondary);
    transition: all .5s;
}

.Porject__Card>a{
    text-decoration: none;
    color: var(text-secondary);
    border: 1px solid var(--bg);
}
.Porject__Card>a:hover{
    border-radius:  0 80px 15% 80px;
    /* box-shadow: 0 0 10px 0 var(--accent-Color); */
    border-color: var(--accent-Color);
}
.Porject__Card>a>.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem auto;
}

.heading>h2 {
    font-size: 1.8rem;
    color: transparent;
    background: linear-gradient(30deg, var(--accent-Color),var(--text-secondary));
    background-clip: text;
    margin: 0;
    margin-right: .5rem;
}

.heading>p {
    color: var(--secondary);
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    
    margin: 0;
    line-height: 30px;
}

a> .description {
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    color: var(--text-secondary);
    margin-top: 2rem ;
}

/* .project__section img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 2rem 0;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
} */

.upcoming__projects{
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
    color: var(--accent-Color);
}
 @media (max-width: 768px) {
    .project__section {
        padding: 0 1rem;
    }
    .Porject__Card {
        flex-direction: column;
        align-items: center;
    }
    .Porject__Card > a {
        width: 100%;
        margin: 1rem 0;
    }
    .Porject__Card > h3 {
        font-size: 2.5rem;
    }
    .heading>h2 {
        font-size: 1.8rem;
    }
    .heading>p {
        font-size: 1.5rem;
    }
}